/ConsoleColour.class
/Menu.class
/Runner.class
/EncogNN.class
/ReadTrainingData.class
/Headline.class
/Shingler.class
/FeatureVectoriser.class
/ReadCSV.class
/NNRunner.class
/TrainingDataFactory.class
/NNFactory.class
/ExpectedMap.class
/Mapper.class
/CreateDataSet.class
/Normaliser.class
